body {

	background: url("lib/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	font-family: 'Raleway', sans-serif;
	position: relative;
}

body, html {
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    text-align: center;
}


p {
	font-size: 12px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

/*--------navbar CSS---------*/

.brand,
.address-bar {
	display: none;
}


.navbar-default .navbar-brand {
	font-family: 'Tangerine', cursive;
	color: #FFFFF0;
	text-shadow: 1px 1px 1px black;
	text-transform: none;
	font-size: 2em;
}

.navbar-default .navbar-toggle {
	border-color: #FFFFF0;
	background-color: #FFFFF0;
}

.address-bar {
	color: #FFFFF0;
	font-weight: 900;
	font-family: Raleway, sans-serif;
	text-shadow: 1px 1px 1px black;
}

.navbar-default .navbar-nav>li>a {
	font-size: 25px;
	font-family: Tangerine;
	text-align: center;
	color: #FFFFF0;
	text-shadow: 1px 1px 1px black;
	
}

.navbar-default .navbar-nav>li>a:hover {
	transform: scale(1.15, 1.15);
	transition: scale 4000 ease;
	text-shadow: 2px 2px 2px black;
	color: #FFFFF0;

}

/*.navbar-collapse {
	margin-bottom: 15px;
}*/



.navbar-default {
        background: rgba(123, 158, 168, 0.9);
}

/*--------end navbar CSS---------*/




/*------- cards CSS -------*/

#cards {
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	margin-top: 0px;
}

.card {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0px 0px 20px 0px;
/*	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;*/
	width: 100%;
	border-radius: 20px 20px 0px 0px;
/*    -webkit-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);*/
}


.card > img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow:  1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
}

hr {
	max-width: 200px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: gray;
	background-color: gray;
	height: 0.5px;
}

.card_title{
	margin-top: 0px;
	margin-bottom: 15px;
	color: rgba(0,0,0,0.75);
	font-size: 25px;
	font-family: Raleway;

}

/*------- end CSS for cards-------*/



/*------- CSS for swiper-------*/
	.swiper-container {
        width: 80%;

        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
/*------- end CSS for swiper-------*/



/*------- accordion list CSS-------*/
/*.accordion {
	background: linear-gradient(to bottom right, white, #F8F8F8);
	max-width: 400px;
	background: white;
	margin: 0 auto;
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
}

.accordion-header {
	border-bottom: 1px solid #DDE0E7;
	color: #2a313a;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
}

.accordion-header:hover {
	background: #F6F7F9;
}

.accordion-content {
	display: none;
	border-bottom: 1px solid #DDE0E7;
	background: #F6F7F9;
	padding: 1.5rem;
	color: #4a5666;
}

.accordion-header::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: #B1B5BE;
	margin-right: .75rem;
}

.active.accordion-header::before {
	background-color: #FC6468;
}*/


/*#accordion p {
	display: none;
}*/

/* Style the buttons that are used to open and close the accordion panel */
#vendorslist {
	padding: 20px;
}
.accordion {
	position: relative;
	width: 80%;
}

.panel {
	position: relative;
	background-color: #eee;
}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion > h1 {
	width: 50%;
	float: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.fa-plus {
	float: right;
	vertical-align: middle;
}



button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*------- end accordion list CSS-------*/

/*------- CSS for contacts page-------*/
#map {
	height:300px;
	width: 100%;
    -webkit-box-shadow:  1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
}

.box {
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow:  1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
}

fieldset {
	padding: 20px;
	margin-top: 20px;
}

label, input {
	display: block;
	width: 100%;

}



/*label {
	width: 30%;
	text-align: right;
} */



/*------- end CSS for contacts page-------*/

/*------- CSS for footer-------*/
#footer {
  background-color: rgba(255, 255, 255, 0.8);
  height: 360px;
  width: 100%;
/*  position: absolute;*/
  bottom: 0;
  text-align: center;
}

footer p {
    margin: 0;
    padding: 10px;
    font-family: Raleway;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/*------- end CSS for footer-------*/




@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        padding: 10px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        font-family: "Tangerine", cursive;
        font-size: 90px;
        font-weight: 700;
        line-height: normal;
        color: #FFFFF0;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #FFFFF0;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar-default {
        border: none;
        background: rgba(123, 158, 168, 0.9);
        margin-bottom: 45px;
    }

    .nav>li>a {
        padding: 25px;

    }

    .navbar-default
    .navbar-nav>li>a {
        line-height: normal;
        color: #FFFFF0;
        font-size: 40px;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

    p {
		font-size: 14px;
	}

	hr {
		max-width: 150px;
	}

	.card {
		width: 24%;
		margin-left: 5px;
		margin-right: 5px;
	}

	.main {
		margin: 0;
	}

	.row {
		margin-bottom: 20px;
		width: 100%;
	}

	.box {
		margin: 20px;
		text-align: center;
	}

/*	.container-fluid {
		margin: 0 auto;
		width: 100%;
		text-align: center;

	}*/

	#footer {
	  height: 200px;

	}

	#vendorslist {
		padding-left: 200px;
		padding-right: 200px;
	}


}

/*@media screen and (min-width:992px) {
	.navbar-nav>li>a {
		font-size: 20px;
		padding: 35px 45px;
	}

	.card {
		width: 46%;
		padding-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.row {
		text-align: center;
	}
}*/


